<form >
    <div class="form-group">
    <label>Nombre completo</label>
    <input type="text"><br>
    <label>Genero</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Femenino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Masculino
        </label>
      </div>
    <label>Dirección</label>
    <input type="text"><br>
    <label>Correo</label>
    <input type="text"><br>
    <label></label>
    </div>
</form>